@import 'tailwindcss';


@theme {
  --color-primary: #1a2332;
  --color-secondary: #2a3a4f;
  --color-accent: #2a8e6c;
  --color-danger: #d45c5c;
  --color-warning: #f59e0b;
}

#root {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
                    url('/DollarNoteBackgroundImage.jpg') !important;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
  min-height: 100vh;
}
